{# templates/user/SearchOnlineCourse.html  <-  UserNew/SearchOnlineCourse.aspx

   The asp:DropDownList had three items and the code-behind passed its
   SelectedIndex on to the results page, so the option values here are the
   indexes 0, 1 and 2.
#}
{% extends "user/master.html" %}
{% block title %}Search Online Course{% endblock %}

{% block content %}
<div class="container">
     <div class="row">
         <div class="col-md-7">
    <div class="card-top"></div>
    <div class="card">
        <div class="row" style="padding-left:30px ">
       <div class="col-md-2"></div>
     <div class="col-md-8">
        <h1 class="title" style="text-align:center">Search Online Course <img id="Image1" style="width:50px;" src="/static/user/Images/studimage.png" /></h1>
        <div class="col-md-12">
            <form id="sign_in" method="POST" action="{{ url_for('search_online_course') }}">

                <br />
             <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-account"></i>
                </span>
             <div class="form-line">

                    <select id="ddlArea" name="ddlArea" style="height:25px; width:100%;">
                        <option value="0">Search By</option>
                        <option value="1">Class Name</option>
                        <option value="2">Area/City</option>
                    </select>
             </div>
                    </div>


                 <div class="input-group"> <span class="input-group-addon"> <i class="zmdi zmdi-account"></i> </span>
                    <div class="form-line">

                        <input type="text" id="txtusername" name="txtusername" class="form-control" placeholder="Search" />
                    </div>
                </div>

                <div>

                    <div class="text-center">
                         <input type="submit" class="btn btn-raised g-bg-cyan waves-effect" value="Search" />
                    </div>

                    <div class="text-center"> <a href="{{ url_for('user_home') }}">Home Page</a></div>
                  <br />

                        </div>
            </form>
        </div>
         </div>
            </div>
        </div>
             </div>
    </div>
</div>
{% endblock %}
